<!DOCTYPE html>
<html>
  <head>
    <title>Jpotify</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Jpotify</h1>
    <p>Welcome to Jpotify</p>
    <form action="/submit/submit-form" method="post">
      <p><label for="album_name">Enter Album name: </label>
      <input id="album_name" type="text" name="album_name" value=""></p>
      <p><label for="artist_name">Enter Artist name: </label>
      <input id="artist_name" type="text" name="artist_name" value=""></p>
      <p><label for="descript_name">Enter Description: </label>
      <input id="descript_name" type="text" name="descript_name" value=""></p>
      <input type="submit" value="OK">
    </form>
  </body>
</html>
