<!DOCTYPE html>
<html>
  <head>
    <title>Spotify albums</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= track.name %></h1>
    <p>PLAY!</p>
  </body>
</html>
