<!DOCTYPE html>
<html>
  <head>
    <title>Jpotify</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>album.name</h1>
    <p>album.artist</p>
    <form action="./submit-form" method="post">
      <p><label for="track_name">Enter Track name: </label>
      <input id="track_name" type="text" name="track_name" value=""></p>
      <input type="submit" value="OK">
    </form>
  </body>
</html>
